/*( https://palx.jxnblk.com/ */
:root {
    --primary: #00c7c7;
    --primary_light1: #00dada;
    --primary_light2: #00eaea;
    --primary_light3: #00fafa;
    --primary_light4: #94ffff;
    --primary_dark1: #00b2b2;
    --primary_dark2: #009999;
    --primary_dark3: #007979;
    --primary_dark4: #004747;

    --wbhue1: #ffffff;
    --wbhue2: #eaeeee;
    --wbhue3: #cad5d5;
    --wbhue4: #a3b7b7;
    --wbhue5: #708f8f;
    --wbhue6: #344242;
    --wbhue7: #181a1a;

    --danger1: #AE0D0A;
    --danger2: #F22B29;
}



.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";


body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
    /*background: #fafafa;*/
    background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

/* ---------------------------------------------------
        SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--primary_dark1);
    color: var(--primary_dark4);
    margin-left: -250px;
    transition: all 0.5s;
}

.sidebar.is-open {
    margin-left: 0;
    transition: .5s;
}


.sidebar-header {
    background: var(--primary_dark1);
    color: var(--wbhue4);
}

.sidebar-header h3{
    color: var(--wbhue2);
    padding: 1em;
}

.sidebar ul p {
    color: var(--wbhue2);
    padding: 10px;
}

.collapse.show, 
.collapsing {
    background: var(--primary_dark1);
}

.nav-item {
    /*color: #ced4da;*/
    color: var(--wbhue1);
    font-weight: 300;
}

.nav-item.open {
    color: var(--wbhue2);
    background: var(--primary_dark1);
}

.nav-item.active {
    color: var(--wbhue2);
    background: var(--primary_dark1) !important;
}

.nav-item:hover {
    background: var(--primary_dark1);
    color: var(--wbhue1);
    transition: .2s;
}

.nav-item .svg-inline--fa {
    color: inherit;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
}

.sidebar-header > button {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* ---------------------------------------------------
        CONTENT STYLE
----------------------------------------------------- */
.content {
    padding: 20px;
    margin-left: 0;
    height: 100vh;
}

@media only screen and (max-width: 575.98px) {
    body {
        overflow-y: auto
    }
    
    .content.is-open {
        /*margin-left: 100%;*/
        display: none;
        transition: all 0.5s;
    }
    
    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
        height: 100vh !important;
    }
    
    .sidebar.is-open > .sidebar-header button {
        display: block;
    }
    
    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
    
}


/* MY STUFF */
/* hide arrows from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input[type=number]::placeholder {
    opacity: 0.3;
}
input[type=text]::placeholder {
    opacity: 0.3;
}


.elevationSmall {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}


.card-description {
    font-weight: bold;
    opacity: 0.5;
    font-size: medium;
}

.row-text-space {
    margin-bottom: 5px;
}

.row-space {
    padding-top: 2.5rem;
}

.subtitle {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    margin-left: -1rem;
}

.navbarLink {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.sidebarLink {
    padding: 1rem;
    color: var(--primary_light4);
    color: var(--wbhue1);
    font-weight: 300;
}

.sidebarLink:hover
{
    color: var(--primary_dark4);
}


.sidebarLinkActive {
    color: var(--primary_dark4);
}



.menubarLinkActove {
    font-weight: bold;
    font-size: medium;
 }


 .btnLink {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
 }

.btn {
    background-color: var(--primary_light1);
    color: var(--wbhue6);
    text-align: center;
    transition: 0.4s;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid var(--primary_light1);
    margin: 10px;
}

.btnPatient {
    transition: 0.3s;
}

.btnPatient:hover,
.btn:hover {
    background-color: var(--primary_dark1);
    color: var(--wbhue1);

    transition: .4s;
    background: var(--primary_light1);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid var(--primary_light1);
}

.btnRemove {
    background-color: var(--danger1);
    color: var(--wbhue1);
    border: 1px solid var(--danger1);
    transition: 0.4s;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    margin: 10px;
    text-align: center;
}

.btnRemove:hover {
    background-color: var(--danger2);
    color: var(--wbhue2);

    transition: .4s;
    background: var(--danger2);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid var(--danger2);
}

.btnHeaderRight {
    padding: 0px;
    float: right;
    margin: 0px;
    height: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btnHeaderLeft {
    padding: 0px;
    margin: 0px;
    height: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btnTextRight {
    float: left;
    background-color: var(--wbhue2);
    border: 1px solid var(--wbhue2);
    transition: 0.4s;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    margin: 10px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
    height: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}




.cardHeader {
    background-color: var(--primary);
}

.titleCard {
    color: var(--wbhue1);
    background-color: var(--wbhue5);
}

.heighttext {
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
}

.spacerAboveLarge {
    margin-top: 3rem;
}

.spacerAboveSmall {
    margin-top: 1rem;
}
