
:root {
    --primary: #00c7c7;
    --primary_light1: #00dada;
    --primary_light2: #00eaea;
    --primary_light3: #00fafa;
    --primary_light4: #94ffff;
    --primary_dark1: #00b2b2;
    --primary_dark2: #009999;
    --primary_dark3: #007979;
    --primary_dark4: #004747;

    --wbhue1: #ffffff;
    --wbhue2: #eaeeee;
    --wbhue3: #cad5d5;
    --wbhue4: #a3b7b7;
    --wbhue5: #708f8f;
    --wbhue6: #344242;
    --wbhue7: #181a1a;

    --danger1: #AE0D0A;
    --danger2: #F22B29;
}

.patient-header {
    font-size: 50px;
    margin-top: 278px;
}

.column-info {
    font-size: 50px;
    margin-top: 65px;
    margin-left: 15px;
    max-width: 270px;
    word-wrap:break-word;
}

.main-info {
    font-size: 50px;
    margin-top: 65px;
    margin-left: 400px;
    max-width: 800px;
    word-wrap:break-word;
}

.ul-vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ul-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.li-horizontal {
 float: left;
}




#first{
    position: absolute;
    z-index:1;
}
#second{
    position: absolute;
    z-index:2;

}